
*{
    box-sizing: border-box;
  background-color: whitesmoke;
}

#main{
    display: flex;
    justify-content:center ;
  
}

#main>h1{
    font-size: 50px;
    margin-bottom: 50px;
   
}


/* .gra{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,88,9,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
} */

    
